<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9">

        <title>Petition -Misconduct in Politics</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body id="layout">
        <nav>
            <h1 id="mainHead">Petition - Abuse in Politics</h1>
            <img id="cross" src="/public/images/cross.jpg" alt="">
        </nav>


        {{{ body }}}

        {{> footer }}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src='/public/script.js'></script>
        <script type="text/javascript" src='/public/canvas.js'></script>

    </body>

</html>
