<h1 id="loginHead">Login Page</h1>
<img id="loginPic" src="/public/images/BackgroundImage.jpg" alt="">
<form id="loginUser" action="login" method="post">
    <input class="input" type="text" name="email" placeholder="Enter email">
    <input class="input" type="password" name="password" placeholder="Enter password">
    <input class="input" type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="loginBtn" type="submit">Login</button>
</form>

<a id="forgotPW" href="/">Go back to Registration?</a>
