<h1 id="sigHead">Signature Page</h1>
<img id="signPetitionPic" src="/public/images/euparliament.jpg" alt="">
<div id="quotePetitionSite">
    <blockquote>"At its core, sexual harassment is about power, and politics is the ultimate power profession. It draws in young people who are eager to advance and reluctant to make waves. And political organizations rise and fall around the fortunes of one central figure, a hierarchy that discourages reporting of harassment, because if the boss gets in trouble, everyone’s job is at risk."</blockquote>
    <a href="https://www.nytimes.com/2016/11/03/us/politics/why-sexual-harassment-persists-in-politics.html" target="_blank"><cite>Sheryl G. Stolberg, The New York Times</cite></a>
</div>
<div id="template">
    <form class="user" action='/petition' method="post">
        <input class="inputPetition" id="first" type="text" placeholder="Enter first name" name="first" value="{{first}}">
        <input class="inputPetition" id="last" type="text" placeholder="Enter last name" name="last" value="{{last}}">
        <input class="inputPetition" type="hidden" name="img">
        <input class="input" type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="submit">Submit</button>
    </form>
    <p id="sign">Please sign here:</p>
    <canvas id="canvas" width="500" height="150"></canvas>
</div>

<script type = "text/javascript">

// $(document).ready(function() {
//     $("#quotePetitionSite").delay(1000).fadeIn(500);
// });



</script>
