<h1 id="welcomeHead">Stop Rape, Assault and Sexual Harassment of Political Office-Holder</h1>
<img id="welcomePic" src="/public/images/BackgroundImage.jpg" alt="">
<div id="error">{{error}}</div>

<form class="registration" action="registration" method="post">
     <input class="input" type="text" name="first" value="" placeholder="Enter first name">
     <input class="input" type="text" name="last" value="" placeholder="Enter last name">
     <input class="input" type="email" name="email" value="" placeholder="Enter email">
     <input class="input" type="password" name="password" value="" placeholder="Enter password">
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
     <button id="signUpBtn">Sign Up</button>
</form>
<div id="registered">
    Already registered? <a href="login">Login here</a>
</div>
