<div id="template">
    <h1>description text</h1>
    <form class="" action='petition' method="post">
        <input id="first" type="text" placeholder="Enter first name" name="first">
        <input id="last" type="text" placeholder="Enter last name" name="last">
        <input type="hidden" name="img">
        <button>Submit</button>
    </form>
    <canvas id="canv" width="400" height="100"></canvas>
</div>
