<div id="template">
    <img id="signPetitionPic" src="/public/images/euparliament.jpg" alt="">

    <form class="user" action='/petition' method="post">
        <input id="first" type="text" placeholder="Enter first name" name="first" value="{{first}}">
        <input id="last" type="text" placeholder="Enter last name" name="last" value="{{last}}">
        <input type="hidden" name="img">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="submit">Submit</button>
    </form>
    <p id="sign">Please sign here:</p>
    <canvas id="canvas" width="500" height="150"></canvas>
</div>
