
<form class="" action="profile" method="post">
    <input type="text" name="city" placeholder="City">
    <input type="number" name="age" placeholder="Age">
    <input type="url" name="url" placeholder="Homepage">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Continue</button>
</form>
<form class="" action="logout" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Sign out</button>
</form>
