<h2>Registration Form</h2>
<form class="registration" action="registration" method="post">
    First Name <input type="text" name="first" value="">
    Last Name <input type="text" name="last" value="">
    E-Mail <input type="email" name="email" value="">
    Password <input type="password" name="password" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Sign Up</button>
</form>
<a href="login"><button>Login</button></a>
