<form class="registration" action="registration" method="post">
    <h2>Registration Form</h2>
    First Name <input type="text" name="first" value="">
    Last Name <input type="text" name="last" value="">
    E-Mail <input type="email" name="email" value="">
    Password <input type="password" name="password" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Sign Up</button>
    <p>If you are already registered please <a href="login"> login</a></p>
</form>
