<div class="">
    <p id="thank-you-text">Thank you very much for signing the petition!</p>
    <a href="/all"><button id="goToAll" type="button" name="button">Check out who else signed this petition</button></a>
</div>
